@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Anton&display=swap');

:root{
    --fonte-titulo: 'Anton';
    --fonte-texto:'Alan Sans';
    --cor-principal:#101725;
    --cor--secundaria:#4DD0E1;
    --cor-destaque:#D3D3D3;
    --cor-texto:#88A0B9;
}
